<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="nav-logo pa3 db mr4 h-100 w3 flex-none">
		<h1 class="logo-text">WROC</h1>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/values" class="pa3 no-underline db">Values</a></li>
		<li><a href="/teaching" class="pa3 no-underline db">Teaching</a></li>
		<li><a href="/bibliography" class="pa3 no-underline db">Bibliography</a></li>
		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>
		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>
</nav>
