.card_container { padding: 2em; }
.card_container--wroc-project {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  padding: 1em;
}
.card--wroc-project {
  background: #fb1e6f2b;
  padding: 15px;
}
.card--wroc-project div.img {
  margin: auto auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 250px;
}
@media screen and (max-width: 435px) {
  .card--wroc-project div.img {
    margin: auto auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 225px;
    height: 175px;
  }
  .card_container {padding:0;}
  .card_container--wroc-project {padding:0;}
}
.card--wroc-project div.img img {
  display: block;
  width: 100%;
  height: inherit;
}
.card--wroc-project h3 {
  font-size: 1em;
}
.card--wroc-project p {
  font-size: 0.85em;
}
.proj-tags {
  font-size: 0.5em;
  margin-top: 10px;
  margin-bottom: 0;
}