html {
  font-size: var(--font-size);
  @media (--breakpoint-medium) {
    font-size: var(--font-size-m);
  }
  @media (--breakpoint-large) {
    font-size: var(--font-size-l);
  }
  background-color: var(--black);
}


body {
  font-family: var(--font-family);
  font-size: var(--spacing-medium);
  line-height: var(--line-height);
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
 }

p {
  margin-bottom: var(--spacing-medium);
  max-width: 32rem;
}

strong {
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

sup {
  font-size: .6rem;
  font-weight: 700;
  vertical-align: super;
}

/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow {
  max-width: 25em;
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NAVIGATION */
a.nav-logo {
  text-decoration: none;
}
h1.logo-text {
  /* font-family: 'Crimson Pro'; */
  text-transform: uppercase;
  color: #fe4300;
  letter-spacing: 0.062rem;
}

/* JUMBOTRON */
.jumbotron {
  letter-spacing: 0.062rem;
  background: #fe4300;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: flex-start;
          align-items: flex-start;
  height: 50vh;
}

.jumbotron h1 {
  font-size: 12vw;
  font-family: 'Crimson Pro';
  text-transform: uppercase;
  color: #52d9da;
  text-shadow: -1px -1px 0 #2f3e9c, 1px -1px 0 #2f3e9c, -1px 1px 0 #2f3e9c, 1px 1px 0 #2f3e9c, 1px 0px 0px #f98ca4, 0px 1px 0px #ec8cf9, 2px 1px 0px #ec8cf9, 1px 2px 0px #ec8cf9, 3px 2px 0px #ec8cf9, 2px 3px 0px #f98ca4, 4px 3px 0px #ec8cf9, 3px 4px 0px #ec8cf9, 5px 4px 0px #ec8cf9, 3px 5px 0px #2f3e9c, 6px 5px 0px #2f3e9c, -1px 2px 0 black, 0 3px 0 #2f3e9c, 1px 4px 0 #2f3e9c, 2px 5px 0px #2f3e9c, 2px -1px 0 #2f3e9c, 3px 0 0 #2f3e9c, 4px 1px 0 #2f3e9c, 5px 2px 0px #2f3e9c, 6px 3px 0 #2f3e9c, 7px 4px 0 #2f3e9c, 10px 10px 4px rgba(255, 186, 74, 0.8);
  margin-left: 20px;
  opacity: 0.8;
}
.jumbotron h2 {
  font-size: 3vw;
  font-family: 'Crimson Pro';
  color: #52d9da;
  background-color: #ff7d4d;
  text-shadow: -1px -1px 0 #2f3e9c;
  margin-top: -10%;
  z-index: 1;
  opacity: 0.8;
  margin-left: 129px;
  width: 100%;
  border-bottom: #5c4283 1px solid;
}
@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 12vw;
  }
  .jumbotron h2 {
    margin-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  .jumbotron h1 {
    font-size: 12vw;
  }
  .jumbotron h2 {
    font-size: 4vw;
    margin-top: 0px;
  }
}

.splitting .char {
  --weight: 200;
  font-weight: var(--weight);
  display: inline-block;
  -webkit-transition: all 250ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
  transition: all 250ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.transform .splitting .char {
  --transform: 1;
  -webkit-transform: scale(var(--transform));
          transform: scale(var(--transform));
}

.meta-h2 {
  margin-top: 15px;
  font-size: 3vw;
  color: white;
  background-color: #ff7d4d;
  opacity: 0.8;
}

@media (--breakpoint-not-small) {
  .measure-ns  {
    max-width: 30em;
  }
  .measure-wide-ns {
    max-width: 34em;
  }
  .measure-narrow-ns {
    max-width: 20em;
  }
  .indent-ns {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-ns {
    font-variant: small-caps;
  }
  .truncate-ns {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-medium) {
  .measure-m {
    max-width: 30em;
  }
  .measure-wide-m {
    max-width: 34em;
  }
  .measure-narrow-m {
    max-width: 20em;
  }
  .indent-m {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-m {
    font-variant: small-caps;
  }
  .truncate-m {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-large) {
  .measure-l {
    max-width: 30em;
  }
  .measure-wide-l {
    max-width: 34em;
  }
  .measure-narrow-l {
    max-width: 20em;
  }
  .indent-l {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-l {
    font-variant: small-caps;
  }
  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
