{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Bibliograpy") }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3 cite">
    {{ range (where .Pages "Section" "bibliography") }}
    <li>
      {{ if .Params.journal }}
        {{ .Params.authors }}. ({{ .Params.year }}). {{ .Params.title }}. <em>{{ .Params.journal }}</em>, {{ .Params.volume }}({{ .Params.issue }}), pp. {{ .Params.pages }}. <a href="{{ .Params.doi }}">{{ .Params.doi }}</a>.
      {{ end }}
    </li>
    {{ end }}
  </ul>
</div>

{{end}}
